.banner{
     background-color: green;
     opacity: 0.3;
     width:100%;
     height:200px;
     margin-bottom:50px;
}
.banner-text{
    top:10%;
    left:45%;
    position:absolute;
    font-family: Fantasy;

}
h1 {
  font-size: 80px;
  color: white;
}